#menu {
  display: none;
  background: #eee;
  padding: 10px;
  width: 200px;
  position: absolute;
  top: 40px;
  border: 1px solid #ccc;
}

#menu.show {
  display: block;
}

.menu-icon {
  cursor: pointer;
  user-select: none;
  padding: 5px;
  background: #ddd;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

body {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 20px;
}


.forma_caixa {
  background-color: white;
  border-radius: 12px;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forma_caixa label {
  text-align: left;
  font-size: 14px;
}

.forma_caixa input {
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: black;
  color: white;
}


.formato_botao,
.main-button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #d9d9d9;
  cursor: pointer;
  font-size: 14px;
}

.main-button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
}


.box-listar {
  background-color: white;
  border-radius: 12px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  gap: 200px;
  background-color: #9e004a;
  padding: 20px 0;
}


.botao_navegacao {
  background-color: #d9d9d9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.Ir_Professor {
  background-color: #d9d9d9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.Ir_Professor:hover {
  background-color: #8c00ff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(0, 225, 255);
}

.botao_navegacao:hover {
  background-color: #00da1d;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(247, 242, 0);
}

.voltar:hover {
  background-color: #51fa03f5;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.nav-button.selected {
  background-color: rgb(255, 255, 255);
}

.voltar {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.main-button:hover {
  background-color: #fd0606;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.botao_navegacao_saida:hover {
  background-color: #be0000f5;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(0, 0, 0);

}

.botao_navegacao_saida {
  background-color: #d9d9d9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.easterEgg {
  cursor: default;
}

#Pug {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.codigo-destaque {
  color: #00ffcc;
  font-weight: bold;
}

#res {
  margin-top: 10px;
  padding: 10px;
  background-color: #81818177;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.batata {
  display: flex;
  flex-direction: row;
}

.lu {

  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #00bb09;
  padding: 10px 0;
}